<div class="row">
    <div class="col-md-12">
          <h2>Categories:</h2>
          <hr />
          <table border="1">
            <th>Category ID</th>
            <th>Category Name</th>
          
            {{#each categories}}
            <tr>
                <td><a href="/posts?category={{id}}">{{id}}</td>
                <td><a href="/posts?category={{id}}">{{category}}</td>
            </tr>
            {{/each}}
          </table>
    </div>
    {{#unless categories}}
    <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/unless}}
</div>


